.body {
    background-color: #071629;
    color: #FFFFFF;
}
/* Header Style */
.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 75px;
    margin-right: 75px;
}
/* Logo Style */
.logo {
}
/* Menu Container */
.menu-container {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}
/* Menu Links Style */
.menu-link {
    display: flex;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 10px; /*Adjust*/
    text-decoration: none;
}
/* Banner Container */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071629;
    height: 1093px;
    background-image: url('images/background.png')
}
/* Banner Content */
.hero-h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 120px;
    text-wrap: nowrap;
    margin-bottom: 0px;
}
.hero-p {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.hero-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/* Button Style*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 44px;
    background:#C271FF;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-wrap: nowrap;
    padding: 10px;
    margin-top: 25px;
    border-radius: 20px;
    
}
.bottom-button {
    display: flex;
    justify-content: center;
    padding: 25px;
}
.pro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: normal;
    margin-top: 150px;
    margin-bottom: 75px;
}
.colortext {
    color: #C271FF;
    font-family: sans-serif;
    font-weight: 700;
}
/* Pro Images Style */
/* Pro Info Style */
.pro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.pro-photo {
    display: flex;
    justify-content:space-evenly
    height: 150px;
}
.pro-name {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}
.pro-text {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.pro-position {
    padding-left: 25px;
}
/* Main Section Style */
/* Testimony Section Style */
.testimony-container {
    display: flex;
    justify-content: center;
    background-color: #C271FF;
    height: 392px;
    align-items: center;

}
.quote-section {
    display: flex;
    flex-direction: column;
}
/* Quote Images Style */
.quote-photo {
    display: flex;
    justify-content: space-around;
    height: 150px;
    border-radius: 50%;
}
.quote-postion {
    display: flex;
    margin-left: 10px;
}
/* Quote Text Style */
/* Quote Author Style */
/* Video Section Style */
.tutorials-container{
    background-color: #FFFFFF;
    color: #071629;
}
.tutorials-title {
    display: flex;
    justify-content: center;
}
.video-section {
    display: flex;
}

/* Membership Section Style */

.memb-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: normal;
    margin-top: 150px;
    margin-bottom: 75px;
}
.memb-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    margin: 100px;
    margin-bottom: 0px;
    height: 150px;
}
.memb-logo {
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
}
.memb-type {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.memb-text {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    
}
/*FAQ */
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    color: #071629;
}
.faq-title {
    display: flex;
    justify-content: center;
    padding: 25px;
}
.faq-info {
    display: flex;
    width: 1000px;
    height: 500px;
    gap: 200px;
    justify-content: flex-end;
    padding: 25px;
}

/* Footer Style */
.footer-container{
    display: flex;
    background-color: #071629;
    height: 250px;
}
/* Footer Content Style */
.logo-position {
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.icon-social {
    display: flex;
    align-items: center;
    padding-left: 1000px;
}

.copyright-text {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}
